div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 录音
    p.lead 分段发送、页面无刷新、多客户端同步接收
    //- img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Recordings
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            p {{ thing.name }}
            audio(ng-src="{{ '/audios/' + thing.audio }}", controls, preload="none")
            button.close(type='button', ng-click='deleteThing(thing)') ×


.container(ng-controller="RecordCtrl")

  .row(ng-show="!canRecord")
    .col-lg-12
      h2.page-header Can't record
      p.lead.text-danger
        | You browser not support or you didn't allow microphone access.

  .row(ng-show="canRecord")
    .col-lg-12
      h2.page-header Recorder
      button.btn.btn-lg.btn-danger(ng-click="onRecord()", ng-disabled="recording")
        i.fa.fa-circle
        | &nbsp;record
      | &nbsp;
      button.btn.btn-lg.btn-default(ng-click="onStopRecord()", ng-disabled="!recording")
        i.fa.fa-stop
        | &nbsp;stop

  .row(ng-show="recording")
    .col-lg-12
      h3 Recording Time Remind
      progressbar.progress-striped.active(max='30', value='secondsCount')
        i {{secondsCount}} / 30

  .row(ng-show="url")
    .col-lg-12
      h3 Review
      audio(ng-src="{{url}}", controls)
      .row(ng-hide="uploadPercent > 0 && uploadPercent < 100")
        .col-lg-4
          form(ng-submit="onUpload()")
            .input-group
              input.form-control(type='text', ng-model="name", placeholder="audio name")
              span.input-group-btn
                button.btn.btn-default(type='submit') upload
      .row(ng-show="uploadPercent > 0 && uploadPercent < 100")
        .col-lg-12
          progressbar.progress-striped.active(max='100', value='uploadPercent', type="success")
            span {{uploadPercent}}%


  //- form.thing-form
  //-   label Syncs in realtime across clients
  //-   p.input-group
  //-     input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
  //-     span.input-group-btn
  //-       button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

footer.footer
  .container
    p
      //- | Angular Fullstack v2.0.13
      //- = ' | '
      //- a(href='https://twitter.com/tyhenkel') @tyhenkel
      //- = ' | '
      //- a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
